# Node.js dependencies
node_modules/

# Copied files for certain plugins
plugins/highlight/highlight/
plugins/revealchart/revealchart/
plugins/plugins.json
plugins/bibletext/bibles/*.xml
plugins/bibletext/bibles/*.xml.gz
plugins/bibletext/bibles/*.json
plugins/mediafx/gallery/*.mp4
plugins/mediafx/gallery/*.jpg
!plugins/mediafx/gallery/demo_base.jpg
plugins/popplerpdf/poppler-*

bin/effectgenerator

# Vite build output
dist/

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Summary file generated for ChatGPT
revelation_electron_file_summary.txt
